@import '../base/base';
@import '../variables/variable';

/*=================================================
                Service part start
=================================================*/
#service {
    padding: 70px 0;
    border-bottom: 2px solid #e0e0e0;

    .service_item {
        position: relative;
        border-radius: 5px;
        margin-top: 25px;

        img {
            width: 100%;
            max-width: 100%;
        }

        .ser_overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(25, 11, 35, 0.6);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            p {
                color: #fff;
            }
        }

        p {
            color: #fff;
            font-size: 17px;
            font-weight: 600;
            padding: 20px 0;
            background: $hover;
            width: 100%;
            padding-left: 20px;
            border-radius: 5px;

            position: absolute;
            bottom: 0;
        }

        .blank_service {
            width: 100%;
            height: 332px;
            background: #0d113d;
            border-radius: 5px;
            position: relative;

            a {
                position: absolute;
                right: 50px;
                bottom: 75px;
                color: #fff;
                font-size: 22px;
                font-weight: 600;
                font-family: $mon;
                text-transform: uppercase;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: -20px;
                    background: #fff;
                    width: 45%;
                    height: 4px;
                    border-radius: 2px;
                    transition: all linear .3s;
                }
            }

            &:hover {
                a {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/*=================================================
                Service part end
=================================================*/